#dog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 20%;
    width: 125px;
	  height: 120px;
    background-image: url('/images/dogSniffJump.png');
    z-index: 10;
    animation: moveForwardDog 10s;
  }
  
  @keyframes moveForwardDog {
    from {left: 0%;}
    to {left: 40%;}
  }

  #dogshot {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 45%;
    bottom: 38%;
    width: 135px;
	  height: 95px;
    background-image: url('/images/dog.png');
    background-position: 2200px 0px;
    animation: moveDogUp 2s;
    z-index: 3;
    visibility: hidden;
  }

  @keyframes moveDogUp {
    from {bottom: 20%;}
    to {bottom: 37%;}
  }

  #dogshotmiss {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 45%;
    bottom: 38%;
    width: 90px;
	  height: 95px;
    background-image: url('/images/dog.png');
    background-position: -304px 22px;
    animation: moveDogUp 2s;
    z-index: 3;
    visibility: hidden;
  }
